[submodule "jersey_city_bikeshare_dbt"]
	path = jersey_city_bikeshare_dbt
	url = https://github.com/chris017/jersey-city-bikeshare-dbt.git
[submodule "jersey_city_bikeshare_airflow/include/jersey_city_bikeshare_dbt"]
	path = jersey_city_bikeshare_airflow/include/jersey_city_bikeshare_dbt
	url = https://github.com/chris017/jersey-city-bikeshare-dbt.git
